@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    background-color: #ffddff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: "Itim", cursive;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#stillpage,
#notfoundcodetextidk,
#thosewhoknow,
#bottomtext {
    font-weight: 400;
    font-style: normal;
}

#mikugifidk {
    display: flex;
    align-content: center;
    margin: auto;
    max-width: 50%;
    height: auto;
}
.back {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    color: #FFEDFA;
    background-color: #EC7FA9;
}